doctype html
// Program for cerner_2^5_2020
html
  head
    title pattern attribute
    style.
      body {
      text-align:center;
      }
      h1 {
      color:green;
      }
  body
    // cerner_2^5_2020
    h1 cerner_2^5_2020
    h2 pattern attribute
    form(action='#')
      | Password: 
      input(type='text' name='Password' pattern='[A-Za-z]{3}' title='3 letter Password')
      input(type='submit')
